* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 30px;
}

.cabeçalho {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #989D9C;
    text-transform: uppercase;
    margin-left: 40px;
    cursor: pointer;
}

.button-one {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: white;
    width: 130px;
    height: 41px;
    border-radius: 20.5px;
    background: #665AE1;
    border: none;
    text-transform: uppercase;
    margin-left: 40px;
    cursor: pointer;
}

#img {
    width: 488px;
    height: 420px;
    display: inline-block;
    margin: 150px 0 0 120px;
}

section {
    display: inline-block;
    margin-left: 80px;
}

h1 {
    font-size: 80px;
    font-weight: 900;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 71px;
    color: #515151;
}

p {
    width: 515px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #848484;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-two {
    background: #ADFF00;
    border: none;
    width: 239px;
    height: 64px;
    border-radius: 30px;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: #000000;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}